{% extends 'plantillas/template.html' %} {% block contenido %}

<div class="animate__animated animate__fadeIn animate__fast">
    <h2 class="text-center">
        <i class="fas fa-paper-plane"></i> Implementacion de Algoritmos
    </h2>

    <div class="card text-white bg-primary mb-3 w-100">
        <div class="card-body">
            <i class="fas fa-quote-left"></i>
            <p class="card-text lead">
                El área de inteligencia artificial con el transcurso de losaños desarrolló diversas técnicas de aprendizaje de máquinapara múltiples aplicaciones en el mundo real. Existe unagran necesidad de disponer de instrumentos tecnológicos queayuden a procesar,
                extraer y resumir las informaciones útiles
            </p>

        </div>
    </div>

    <div class="card mb-1">

        <div class="jumbotron">
            <h1 class="display-3">Machine Learning</h1>
            <p class="lead"> La clasificación automática de datos puede definirse comola tarea realizada por un autómata de asignar clases a gruposde datos multivariable, de manera autónoma y basado endatos aprendidos a partir de bases de datos previamenteordenadas. Sin
                embargo, la capacidad de generalización deun sistema dependerá tanto de la calidad de los datos usadosen su entrenamiento, como de la destreza del analista paraajustar los parámetros del modelo de tal manera que elcomportamiento del mismo
                sea el mejor para cada problema.</p>

            <p>Los algortimos utilizados en este proyecto son los siguientes:</p>
        </div>
        <ol class="list-group">
            <li class="list-group-item">
                KNN
            </li>
            <li class="list-group-item">
                Random Forest
            </li>
            <li class="list-group-item">
                Naive Bayes
            </li>
            <li class="list-group-item">
                Regresion Logistica
            </li>
            <li class="list-group-item">
                Red Neuronal
            </li>
            <li class="list-group-item">
                Maquina de soporte vectorial
            </li>
        </ol>
    </div>

    <div class="card mt-3">
        <h3 class="card-header text-center">
            <i class="fas fa-code"></i> Desarrolladores
        </h3>
        <div class="card-deck p-5">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <img src="https://avatars2.githubusercontent.com/u/52500170?s=460&u=3b4abc883bb7e3f79ef8ecfc410a5baf26e0d6aa&v=4" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Wilson Aguilar</h5>
                    <p class="card-text">
                        Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">.</small>
                    </p>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <img src="https://avatars3.githubusercontent.com/u/52500188?s=460&u=4c4265a7dbb929285b43cb4f5d38914cb73d2f36&v=4" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Ricardo Romo</h5>
                    <p>
                        Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">.</small>
                    </p>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <img src="https://avatars0.githubusercontent.com/u/52500192?s=460&u=54899b575d89dae8e4ae1e29a60af256fbe9af5c&v=4" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Pablo Cacuango</h5>
                    <p class="card-text">
                        Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">.</small>
                    </p>
                </div>
            </div>


            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <img src="https://scontent.fuio10-1.fna.fbcdn.net/v/t1.0-9/80026211_2640186756047020_5583981711328280576_n.jpg?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=AFINmzKeLHgAX9huyz8&_nc_ht=scontent.fuio10-1.fna&oh=0b73f99dc65972befa1db34fe5d83489&oe=5F4CADE4" class="card-img-top"
                    alt="Christian Lasso" />
                <div class="card-body">
                    <h5 class="card-title">Christian Lasso</h5>
                    <p class="card-text">
                        Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">.</small>
                    </p>
                </div>


            </div>
        </div>

        {% endblock %}