{% extends 'plantillas/template.html' %} {% block contenido %}
<div class="jumbotron">
    <h1 class="display-3">WINE DATASET</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">KNN</div>
                    <div class="card-body">
                        <h4 class="card-title">Accuracy</h4>
                        <p class="card-text">{{ knn[0] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-hover">

                    <tbody>
                        <tr class="table-active">
                            <th scope="row">Precision</th>
                            {% for i in knn[1]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Recall</th>
                            {% for i in knn[2]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="table-active">
                            <th scope="row">F-Measure</th>
                            {% for i in knn[3]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col rm-100">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">RANDOM FOREST</div>
                    <div class="card-body">
                        <h4 class="card-title">Accuracy</h4>
                        <p class="card-text">{{ rf }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">NAIVE BAYES</div>
                    <div class="card-body">
                        <h4 class="card-title">Accuracy</h4>
                        <p class="card-text">{{ nb }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">LOGISTIC REGRESION</div>
                    <div class="card-body">
                        <h4 class="card-title">RMSE</h4>
                        <p class="card-text">{{lr[2]}}</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-active">
                            <th scope="row">MAE</th>
                            <td>{{ lr[0] }}</td>
                            <th scope="row">R<sup>2</sup></th>
                            <td>{{ lr[3] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">MSE</th>
                            <td>{{ lr[1] }}</td>
                            <th scope="row">R<sup>2</sup>a</th>
                            <td>{{ lr[4] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">NEURONAL NETWORK</div>
                    <div class="card-body">
                        <h4 class="card-title">Accuracy</h4>
                        <p class="card-text">{{ nn[0] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-hover">

                    <tbody>
                        <tr class="table-active">
                            <th scope="row">Precision</th>
                            {% for i in nn[1]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Recall</th>
                            {% for i in nn[2]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="table-active">
                            <th scope="row">F-Measure</th>
                            {% for i in nn[3]%}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div> {% endblock %}